Hello William!

I’m happy to review your project today.
I will mark your mistakes and give you some hints how it is possible to fix them. We are getting ready for real job, where your team leader/senior colleague will do exactly the same. Don't worry and study with pleasure! 

Below you will find my comments - **please do not move, modify or delete them**.

You can find my comments in green, yellow or red boxes like this:

<div class="alert alert-block alert-success">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Success. Everything is done succesfully.
</div>

<div class="alert alert-block alert-warning">
<b>Reviewer's comment</b> <a class="tocSkip"></a>

Remarks. Some recommendations.
</div>

<div class="alert alert-block alert-danger">

<b>Reviewer's comment</b> <a class="tocSkip"></a>

Needs fixing. The block requires some corrections. Work can't be accepted with the red comments.
</div>

You can answer me by using this:

<div class="alert alert-block alert-info">
<b>Student answer.</b> <a class="tocSkip"></a>

Thank you so much for the feedback, I appreacaite it! I should have double checked before submitting. Thanks! 
</div>

Title: Sprint 9
Introduction:You have data on oil samples from three regions. Parameters of each oil well in the region are already known. Build a model that will help to pick the region with the highest profit margin. Analyze potential profit and risks using the Bootstrapping technique.
You have data on oil samples from three regions. Parameters of each oil well in the region are already known. Build a model that will help to pick the region with the highest profit margin. Analyze potential profit and risks using the Bootstrapping technique.

In [818]:
# Loading all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import datetime as date
import scipy.stats as stats
import math as math
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# Load the data files into different DataFrames and 
region_0= pd.read_csv(r"geo_data_0.csv")
region_1= pd.read_csv(r"geo_data_1.csv")
region_2= pd.read_csv(r"geo_data_2.csv")

In [820]:
#prepare the data 
print(region_0.duplicated().values.any())
print(region_1.duplicated().values.any())
print(region_2.duplicated().values.any())
print(region_0.isnull().values.any())
print(region_1.isnull().values.any())
print(region_2.isnull().values.any())
region_1

False
False
False
False
False
False

          id         f0         f1        f2     product
0      kBEdx -15.001348  -8.276000 -0.005876    3.179103
1      62mP7  14.272088  -3.475083  0.999183   26.953261
2      vyE1P   6.263187  -5.948386  5.001160  134.766305
3      KcrkZ -13.081196 -11.506057  4.999415  137.945408
4      AHL4O  12.702195  -8.147433  5.004363  134.766305
...      ...        ...        ...       ...         ...
99995  QywKC   9.535637  -6.878139  1.998296   53.906522
99996  ptvty -10.160631 -12.558096  5.005581  137.945408
99997  09gWa  -7.378891  -3.084104  4.998651  137.945408
99998  rqwUm   0.665714  -6.152593  1.000146   30.132364
99999  relB0  -3.426139  -7.794274 -0.003299    3.179103

[100000 rows x 5 columns]

<div class="alert alert-success">
<b>Reviewer's comment V1</b>

Correct

</div>

No duplicates or nulls

In [821]:
#Split the data into a training set and validation set at a ratio of 75:25. region 0
X= region_0[['f0','f1','f2']]
y=region_0['product']
X_train_0, X_val_0, y_train_0, y_val_0 = train_test_split(X, y, test_size=0.25,random_state=42)
model = LinearRegression()
model.fit(X_train_0, y_train_0)
y_pred_0 = model.predict(X_val_0)
rmse_0 = np.sqrt(mean_squared_error(y_val_0, y_pred_0))
print('predicted avg region 0:',np.mean(y_pred_0))
print('rmse region 0:',rmse_0)
print('average volume of reserves region 0:',np.mean(region_0['product']))

predicted avg region 0: 92.39879990657768
rmse region 0: 37.75660035026169
average volume of reserves region 0: 92.50000000000001

In [822]:
#Split the data into a training set and validation set at a ratio of 75:25. region 1
X= region_1[['f0','f1','f2']]
y=region_1['product']
X_train_1, X_val_1, y_train_1, y_val_1 = train_test_split(X, y, test_size=0.25,random_state=42)
model = LinearRegression()
model.fit(X_train_1, y_train_1)
y_pred_1 = model.predict(X_val_1)
rmse_1 = np.sqrt(mean_squared_error(y_val_1, y_pred_1))
print('predicted avg region 1:',np.mean(y_pred_1))
print('rmse region 1:',rmse_1)
print('average volume of reserves region0:',np.mean(region_1['product']))

predicted avg region 1: 68.71287803913762
rmse region 1: 0.8902801001028854
average volume of reserves region0: 68.82500000000002

In [823]:
#Split the data into a training set and validation set at a ratio of 75:25. region 2
X= region_2[['f0','f1','f2']]
y=region_2['product']
X_train_2, X_val_2, y_train_2, y_val_2 = train_test_split(X, y, test_size=0.25,random_state=42)
model = LinearRegression()
model.fit(X_train_2, y_train_2)
y_pred_2 = model.predict(X_val_2)
rmse_2 = np.sqrt(mean_squared_error(y_val_2, y_pred_2))
print('predicted avg region 2:',np.mean(y_pred_2))
print('rmse region 2:',rmse_2)
print('average volume of reserves region0:',np.mean(region_2['product']))

predicted avg region 2: 94.77102387765939
rmse region 2: 40.145872311342174
average volume of reserves region0: 95.00000000000004

<div class="alert alert-success">
<b>Reviewer's comment V1</b>

Good job!

</div>

In [824]:
# Prepare for profit calculation:
 #3.1. Store all key values for calculations in separate variables.
cp_per_well = 100000000/200
sp= 4500
num_reserves_for_no_loss_for_well = cp_per_well/sp
print('cost per well:',cp_per_well)
print('reserves for no loss:',num_reserves_for_no_loss_for_well)

cost per well: 500000.0
reserves for no loss: 111.11111111111111

<div class="alert alert-success">
<b>Reviewer's comment V1</b>

Correct

</div>

In [825]:
budget = 100000000
points=  200
product_price= 4500
def profit(target,pred):
  pred_sorted = pred.sort_values( ascending=False)
  selected_points = target[pred_sorted.index][:points]
  product = selected_points.sum()
  revenue = product_price* product 
  return  revenue - budget

In [826]:
y_pred_0=pd.Series(y_pred_0)
y_pred_0= y_pred_0.to_frame()
y_val_0= y_val_0.reset_index(drop=True)
y_val_0= y_val_0.to_frame()
y_val_0['prediction'] = y_pred_0
df=y_val_0
df=df.rename(columns={'product': 'target'})
df_0 = df
df_0

           target  prediction
0      122.073350  101.901017
1       48.738540   78.217774
2      131.338088  115.266901
3       88.327757  105.618618
4       36.959266   97.980185
...           ...         ...
24995  148.821520  105.076959
24996  123.454003   74.768176
24997   91.945213   82.544397
24998  149.295563   81.826689
24999   57.244039   93.121062

[25000 rows x 2 columns]

In [827]:
y_pred_1=pd.Series(y_pred_1)
y_pred_1= y_pred_1.to_frame()
y_val_1= y_val_1.reset_index(drop=True)
y_val_1= y_val_1.to_frame()
y_val_1['prediction'] = y_pred_1
df=y_val_1
df=df.rename(columns={'product': 'target'})
df_1= df

df_1

           target  prediction
0        0.000000    0.844738
1       53.906522   52.921612
2      134.766305  135.110385
3      107.813044  109.494863
4        0.000000   -0.047292
...           ...         ...
24995  107.813044  108.351600
24996   53.906522   53.604049
24997   26.953261   26.708734
24998  110.992147  109.823087
24999  134.766305  135.448780

[25000 rows x 2 columns]

In [828]:
y_pred_2=pd.Series(y_pred_2)
y_pred_2= y_pred_2.to_frame()
y_val_2= y_val_2.reset_index(drop=True)
y_val_2= y_val_2.to_frame()
y_val_2['prediction'] = y_pred_2
df=y_val_2
df=df.rename(columns={'product': 'target'})
df_2= df
df_2

           target  prediction
0      117.441301   98.301916
1       47.841249  101.592461
2       45.883483   52.449099
3      139.014608  109.922127
4       84.004276   72.411847
...           ...         ...
24995   40.797226  102.764169
24996   87.144239   93.431823
24997   52.039812   64.098390
24998  136.961454   83.764135
24999  109.173206   86.558644

[25000 rows x 2 columns]

<div class="alert alert-danger">
<b>Reviewer's comment V1</b>

The function is not correct. I'd recommend to repeat the lesson about students and lessons. Code here should be almost the same. So, your function should return only one value but not 200. And you can't take just a mean value as a result.

</div>

<div class="alert alert-danger">
<b>Reviewer's comment V2</b>

The function is still incorrect. To calculate profit you should choose the best wells based on predictions but then you need to use real targets to calculate profit. In the lesson you have an example about students and lessons. Please, repeat this lesson. The code in this project should be almost the same as in this example.

</div>

<div class="alert alert-success">
<b>Reviewer's comment V3</b>

It looks fine now. Good job!

</div>

In [829]:
state= state = np.random.RandomState(12345)

In [830]:
import numpy as np
import pandas as pd

def bootstrap_profit_and_risk(target,pred):
    

    profits = []

    for _ in range(1000):
        sample = target.sample(500,replace=True,random_state=state)
        pred_sample = pred[sample.index]
        profit_sample = profit(sample,pred_sample)
        profits.append(profit_sample) 

    # risk_ci = np.percentile(risks, [2.5, 97.5])

    return profits

In [831]:

profits = bootstrap_profit_and_risk(df_0['target'],df_0['prediction'])
profit_values= pd.Series(profits)
print('region 0')
print("Average Profit:", np.mean(profits))
print("Risk of Losses:", (profit_values<0).mean()*100,'%')
print("95% Confidence Interval for Profit:", np.percentile(profits, [2.5, 97.5]))

region 0
Average Profit: 4359337.721386622
Risk of Losses: 6.1 %
95% Confidence Interval for Profit: [-1162316.12777209  9665041.80707375]

In [832]:
profits = bootstrap_profit_and_risk(df_1['target'],df_1['prediction'])
profit_values= pd.Series(profits)
print('region 1')
print("Average Profit:", np.mean(profits))
print("Risk of Losses:", (profit_values<0).mean()*100,'%')
print("95% Confidence Interval for Profit:", np.percentile(profits, [2.5, 97.5]))

region 1
Average Profit: 4985690.169167884
Risk of Losses: 1.0 %
95% Confidence Interval for Profit: [ 753155.73088983 9115036.95024557]

In [833]:
profits = bootstrap_profit_and_risk(df_2['target'],df_2['prediction'])
profit_values= pd.Series(profits)
print('region 2')
print("Average Profit:", np.mean(profits))
print("Risk of Losses:", (profit_values<0).mean()*100,'%')
print("95% Confidence Interval for Profit:", np.percentile(profits, [2.5, 97.5]))

region 2
Average Profit: 4126728.9898853186
Risk of Losses: 7.000000000000001 %
95% Confidence Interval for Profit: [-1589395.15763606  9781912.01700191]

<div class="alert alert-danger">
<b>Reviewer's comment V1</b>

The results are incorrect.
1. According to task description you should sample with size=500
2. risk - is share of negative profits. So, your risk calculation is incorrect.
3. You forgot to calculate confidence interval
4. Please, add some structure to your project: add titles, add intermediate conclusions and so on. Make your project look better:)

</div>

<div class="alert alert-danger">
<b>Reviewer's comment V2</b>

The results are incorrect.
1. According to task description you should sample with size=500 but not with `size=len(data)`
2. According to task description you should make 1000 iterations in bootstrap.
3. `profits.append(np.mean(sample))` - this is definitely not a profit.
4. risk - is a one value. It can't have confidence interval. Only profit can have it. Risk should be calcualte only once after a loop.
5. Please, add some structure to your project: add titles, add intermediate conclusions and so on. Make your project look better:)
    
P.S.  In the lesson you have an example about students and lessons. Please, repeat this lesson. The code in this project should be almost the same as in this example.

</div>

<div class="alert alert-success">
<b>Reviewer's comment V3</b>

The results are correct now. Well done! But you should choose region 1 because only in this region risk is lower than 2.5%

</div>

conclusion: the reserves produced by region 2 was the most.